@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

:root {
  --background: #eee4c4;
  --foreground: #dc4a80;
  --primary: #7c4c58;
  --secondary: #824a5d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.card-shadow {
  box-shadow: inset -2px -3px 15px rgba(77, 75, 75, 0.3), 3px 3px 30px rgba(191, 180, 178, 0.29), 5px 5px 5px rgba(43, 42, 42, 0.29),
    inset -2px -3px 4px rgba(53, 52, 52, 0.21), inset -10px -10px 15px rgba(63, 60, 60, 0.15);
}

.btn-shadow {
  box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 0.2), inset -2px -4px 20px rgba(75, 75, 75, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.21);
}

.gif-box-shadow {
  box-shadow: inset 3px 2px 8px rgba(39, 38, 38, 0.3), -2px -2px 8px rgba(22, 22, 22, 0.459);
}

.card {
  cursor: pointer;
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 38px;
  transition: all 0.7s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.tapped .cover {
  left: -100%;
}

.msg-card {
  left: 0;
  background-image: url('/images/card-bg-mobile.webp');
  background-size: cover;
  background-position: top;
  transition: all 0.7s ease-out;
}

@media (min-width: 768px) {
  .msg-card {
    background-image: url('/images/card-bg-desktop.webp');
  }
}

.animate-move{
  animation: move 1.5s infinite;
}

@keyframes move {
  0%, 100% {
    height: 0% !important;
  }
  50% {
    height: 10% !important;
  }
}